<h1>The edit page</h1>

<%= link_to "Back to projects", projects_path(@project) %>

<%= form_for @project do |f| %>
	<div class="text_field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="text_area">
		<%= f.label :description %>
		<%= f.text_field :description %>
	</div>
	<div class="select_box">
		<%= f.label :minigoal_id %>
		<%= f.select :minigoal_id, options_from_collection_for_select(Minigoal.all, :id, :name) %>	
	</div>
	<!-- Should be a select box here where you can chose the minigoal_id -->
	<div class="submit">
		<%= f.submit "Save changes" %>
	</div>
	
<% end %>