<!-- kod som stoppar sidor dar det inte finns motsvarande variablar for id-->

<div class="container">
	
	<div class="Title">
		<h1>Page to show specific Project</h1>
	</div>
	
	<br>
	<p>Name of the project: <%= @projectName %></p>
	<p>Description of the project: <%= @projectDescription %></p>
	<p>The user that the project belongs to: <%= @prusers %></p>
	
	<p>The minigoals that the project has: <%= @pMinigoals %></p>
	<% if @pMinigoals.size < 1 %>
		<p> Project has no minigoals </p>
	<% end %>
	<p><%= link_to "Create Minigoal for project", new_minigoal_path %></p>
	<p><%= link_to "Delete this project", @project, confirm: "You're about to delete this project", method: :delete%></p>
	<p><%=link_to "Create new project", new_project_path %></p>
</div>