<!-- kod som stoppar sidor dar det inte finns motsvarande variablar for id-->
<!-- Link to create new project, to minigoals and to delete project-->
<p><%=link_to "create new project", new_project_path %></p><!-- Send in the user here-->
<h1>Page to show specific Project</h1>

<br>
<p>Name of the project: <%= @projectName %></p>
<p>Description of the project: <%= @projectDescription %></p>
<p>The user that the project belongs to: <%= @pruser %></p>
<p>The minigoals that the project has: <%= @mgproject %></p>
<p><%= link_to "Delete this project", @project, confirm: "You're about to delete this project", method: :delete%></p>