<h1>Edit minigoal</h1>
<%= link_to "Back to Minigoals", minigoals_path(@minigoal) %>
<%= @minigoal.name %>
<%= @minigoal.status_id %>

<%= form_for @minigoal do |f| %>
	<div class="text_field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="text_field">
		<%= f.label :status_id %>
		<%= f.text_field :status_id %>
	</div>
	
	<div class="submit">
		<%= f.submit "Save changes" %>
	</div>
	
<% end %>
<!-- Change this one so you can see the status instead -->

