<h1>Create User</h1>
<%= form_for @user do |f| %>
	<div class="text_field">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>
	<div class="text_field">
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>
	<div class="text_field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
<% end %>

<p><%=link_to "Back to users", users_path %></p>

<!-- Put in some kinde of submit button here-->