<h1>Steffos Ruby application</h1>
<%= link_to "Create new user", new_user_path %>
<br>

<%= link_to "Go to the users page", users_path %>
<br>
<%= form_tag(users_create_path :method => "post", :class => "myForm") do%>

	<%= label_tag(:email, "Email:") %>
	<%= text_field_tag(:email) %>
	
	<%= label_tag(:password, "Password:") %>
	<%= text_field_tag(:password) %>

	<%= submit_tag("Login") %>
	
<% end %>



<!-- Login form should be here -->