<h1>Edit member</h1>

<%= link_to "Back to users", user_path(@user) %>

<%= form_for @user do |f| %>
	<div class="text_field">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>
	<div class="text_field">
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>
	<div class="text_field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class="text_field">
		<%= f.label :password %>
		<%= f.text_field :password %>
	</div>
	<div class="submit">
		<%= f.submit "Save changes" %>
	</div>
	
<% end %>

<!-- Form goes here -->