<h1>All users</h1>
<!-- Link to create new user and to create new project-->
<!-- Cant get to the create_users_path controller -->
<%= link_to "Create new user", new_user_path %>
<br>
<div class="users_links">
<br>
	<% @users.each do |user| %>
	<%= link_to user.first_name, user %>	
		<%= link_to "Edit user", edit_user_path(user) %>
		<br>	
	<%end %>
</div>
<br>
<%= link_to "Go to the projects page", projects_path %>

<!-- This link leeds to the wrong place -->
<%= link_to "Go home", users_path %>
<br>

<%= form_tag(users_search_path :method => "post", :action => "search", :class => "searchForm") do%>
<!-- Access to action in form_tag check it. -->
	<p> Search among the users of this application <p> <br>
	<%= label_tag(:search, "Search:") %>
	<%= text_field_tag(:search) %>
	
	<%= submit_tag("Search") %>
	
<% end %>


